<!--
 this HTML should expose a search bar
!-->

<div class="search-bar-wrapper">
  <input type="text" ng-model="searchText" class="search-bar-input" ng-change="update()">
  <div class="autocomplete-result" ng-repeat="result in results">
    {{ result.name }}
  </div>
</div>
